<h1>@ViewBag.title</h1>
<h3>@ViewBag.jobs.Count @( ViewBag.jobs.Count != 1 ? "Results" : "Result" ) </h3>
@{
// TODO #3 - Use the same list display from Views/Search/Index.cshtml
    @if (ViewBag.jobs != null)
    {
        @foreach (Dictionary<string, string> job in ViewBag.jobs)
        {
            <table class="job-listing">
                @foreach (KeyValuePair<string, string> item in job)
                {
                    <tr>
                        <th> <small>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Key):</small> </th>
                        <td>
                            @if (item.Key == "name")
                            {<h2>@item.Value</h2> }
                        else
                        { <a asp-controller="List" asp-action="Jobs" asp-route-column="@item.Key" asp-route-value="@item.Value">@item.Value</a>}
                        </td>
                    </tr>
                }
            </table><br />
        }
    }
}