<form action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key"
                       checked="@column.Key == 'employer'" />
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
        @if (string.IsNullOrEmpty(ViewBag.error) == false)
        {
        <span class="alert alert-danger"><small class="text-muted"><strong>@ViewBag.error</strong></small> </span>
        }
    </p>
        
    <input type="submit" value="Search" />
</form>

<hr />

<h1>@ViewBag.title</h1>

@if (ViewBag.jobs != null)
{
    <h3>@ViewBag.jobs.Count @( ViewBag.jobs.Count != 1 ? "Results" : "Result" ) </h3>
    // TODO #2 - Loop over jobs dictionary and display all job fields
    {
                    @foreach (Dictionary<string, string> job in ViewBag.jobs)
        {
            <table class="job-listing">
                @foreach (KeyValuePair<string, string> item in job)
            {
                    <tr>
                        <th> <small>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Key):</small> </th>
                        <td>
                            @if (item.Key == "name") { <h2>@item.Value</h2> }
                            else { <a asp-controller="List" asp-action="Jobs" asp-route-column="@item.Key" asp-route-value="@item.Value">@item.Value</a>}
                        </td>
                    </tr>
                }
            </table><br />
        }
    }
}